.login-background {
  background-image: url('../../../../public/images/bg.image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2em;
}

.formularioCSS_clase {
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: rgba(70, 73, 20, 0.53);
  border-radius: 8px;
  padding: 3em;
  max-width: 50em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Estilos generales para inputs, selects y textareas */
.formularioCSS_clase input,
.formularioCSS_clase select,
.formularioCSS_clase textarea,
.formularioCSS_clase input[type="password"],
.formularioCSS_clase input[type="email"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  background-color: rgba(255, 255, 255, 0.85);
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Transición suave */
}

/* Estilos cuando el input, select o textarea está en foco */
.formularioCSS_clase input:focus,
.formularioCSS_clase select:focus,
.formularioCSS_clase textarea:focus,
.formularioCSS_clase input[type="email"]:focus,
.formularioCSS_clase input[type="password"]:focus {
  background-color: #ffffff; /* Fondo blanco al hacer foco */
  border-color: rgba(128, 164, 37, 0.42); /* Borde verde al hacer foco */
  box-shadow: 0 0 5px rgba(25, 145, 7, 0.37); /* Sombra suave verde */
}

/* Estilos para el label flotante */
.form-floating label {
  font-size: 1rem; /* Ajusta el tamaño del texto */
  top: -10px; /* Ajusta la posición de la etiqueta flotante */
  left: 12px; /* Alinea el label a la izquierda */
  transition: 0.3s ease; /* Transición suave cuando el input está enfocado */
}

.textVistaCSS {
  font-family: 'Lobster', sans-serif;
  color: #FFCF50;
}

label {
  font-family: "Calistoga", serif;
  color: rgba(193, 70, 0, 0.75);
}

.botonCSS {
  background-color: #FFCF50;
  border: none;
  font-size: 1.5em;
  color: #443627;
}

.botonEntrar{
  font-family: "Calistoga", serif;
  color: #443627;
}

.titulo{
  font-family: "Righteous", sans-serif;
  font-size:5em;
  color: #545403;
}
