<div class="login-background text-center">
  <a class="navbar-brand" routerLink="/inicio">
  </a>
  <div class="text-center text-light mt-3">
    <h1 class="titulo"> Plantapp</h1>
    <h2 class="textVistaCSS"> Accede a tu cuenta, ¿Que esperas? </h2>
  </div>
  <div class="container formularioCSS_clase">
    <!-- Formulario-->
    <h3 class=" text-center text-light mb-5">Completa tus datos. ¡Es hora de cuidar tus plantas! </h3>
    <div class="col">
      <form [formGroup]="formUserLogin" (ngSubmit)="login()">
        <!-- Campo Email-->
        <div class="form-floating">
          <input type="email" formControlName="email" class="form-control" id="email" placeholder="email">
          <label for="email" class="fs-5">📧 Email</label>
          <!--Validación-->
          @if (email.invalid && (email.dirty || email.touched)) {
            <!-- Alerta para 'required' -->
            @if (email.errors?.['required']) {
              <div class="alert alert-danger" role="alert">
                ¡Vamos...Debes indicar un email!
              </div>
            }
            <!-- Alerta para 'maxLength' -->
            @if (email.errors?.['maxlength']) {
              <div class="alert alert-warning" role="alert">
                ¡No superes los 50 caracteres o prueba con otro correo!
              </div>
            }
            <!-- Alerta para 'minLength' -->
            @if (email.errors?.['minlength']) {
              <div class="alert alert-warning" role="alert">
                ¡Deber ser tu correo completo!
              </div>
            }
            <!-- Alerta para '@correo' -->
            @if (email.errors?.['email']) {
              <div class="alert alert-warning" role="alert">
                ¡¿Estas seguro? Eso no parece un correo!
              </div>
            }
            <!-- Alerta para 'notOnlyWhiteSpace' -->
            @if (email.errors?.['notOnlyWhiteSpace']) {
              <div class="alert alert-danger" role="alert">
                ¿Estás seguro de que tu email tiene solo espacios en blanco?
              </div>
            }
          }
        </div>
        <!-- Campo Password-->
        <div class="form-floating mt-3">
          <input type="password" formControlName="password" class="form-control" id="password" placeholder="password">
          <label for="password" class="fs-5">🔒 Password</label>
          @if (password.invalid && (password.dirty || password.touched)) {
            <!-- Alerta para 'required' -->
            @if (password.errors?.['required']) {
              <div class="alert alert-danger" role="alert">
                ¡Ups! Debes indicar una contraseña.
              </div>
            }   <!-- Alerta para 'minLength' -->
            @if (password.errors?.['minlength']) {
              <div class="alert alert-warning" role="alert">
                ¡La contraseña debe tener al menos 8 caracteres!
              </div>
            }
            <!-- Alerta para 'maxLength' -->
            @if (password.errors?.['maxlength']) {
              <div class="alert alert-warning" role="alert">
                Recuerda no superar los 20 caracteres!
              </div>
            }
            <!-- Alerta para 'notOnlyWhiteSpace' -->
            @if (password.errors?.['notOnlyWhiteSpace']) {
              <div class="alert alert-danger" role="alert">
                ¿Seguro que hay solo espacios en blanco en tu password?
              </div>
            }
          }
        </div>
        <!-- Botón de Enviar -->
        <div class="btn-group mt-3">
          <button type="submit" class="btn btn-lg btn-warning botonEntrar ">Entrar</button>
        </div>
      </form>
      <!-- Fin del Formulario -->
    </div>
  </div>

  <div class="container mt-5">
    <button type="button" class="btn textVistaCSS botonCSS" routerLink="/nuevoEditarUsuario">¿Nuevo en la
      app?
    </button>
  </div>
</div>

