.navBarClass {
  background: linear-gradient(to right, #e9eee6, #565601);
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

a {
  color: #8a8a0d;
  font-size: 1.2em;
  font-family: "Righteous", sans-serif;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #6d6d09;
}
