.inicio-background {
  background-image: url('../../../../public/images/indoor-plants.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2em;
  min-height: 100vh; /* Mínimo ocupa pantalla completa */
  height: auto;       /* Crece con el contenido */
  display: flex;
  flex-direction: column;
}

.titulo {
  text-align: center;
  font-family: "Righteous", sans-serif;
  color: #283d06;
}

/* Estilos generales para inputs, selects y text */
.formularioCSS_clase input,
.formularioCSS_clase select,
.formularioCSS_clase textarea,
.formularioCSS_clase text {
  width: 100%;
  margin: 8px 0;
  background-color: rgb(255, 255, 255);
  border-color: rgba(128, 164, 37, 0);
  box-shadow: 0 0 5px rgba(25, 145, 7, 0);;
}

::ng-deep .ngb-dp-header {
  background-color: #cce5ff; /* Fondo del header */
  color: #334101; /* Color de texto del mes */
}

::ng-deep .ngb-dp-weekday {
  color: #6c757d; /* Color de los nombres de los días (LU, MA, MI, etc.) */
}

::ng-deep .ngb-dp-day {
  background-color: #e2f0d9; /* Fondo de los días normales */
  color: #155724; /* Color de los números */
}

::ng-deep .ngb-dp-day.selected {
  background-color: #28a745 !important; /* Fondo cuando seleccionás una fecha */
  color: white !important; /* Texto de fecha seleccionada */
}
