.inicio-background {
  background-image: url('../../../../public/images/kaufmann-mercantile-a7Woj8W6J0s-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2em;
  min-height: 100vh;
}

.menuOpcionesCuenta {
  background-color: rgba(255, 255, 255, 0.82);
  border-radius: 8px;
  padding: 1em;
  max-width: 11em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.formularioCSS_clase {
  background-color: rgba(255, 255, 255, 0.82);
  border-radius: 8px;
  padding: 3em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.botonCSS {
  background-color: rgba(255, 207, 80, 0.7);
  border: none;
  font-size: 1.2em;
  color: #443627;
  font-family: "Calistoga", serif;
}

.textContenedor {
  font-family: "Calistoga", serif;
  color: rgba(103, 73, 2, 0.75);
  text-align: center;
  font-size: 1.5em;
}

p {
  font-family: 'Lobster', sans-serif;
  font-size: 1.5em;
}

.bt_eliminar {
  background-color: rgba(164, 163, 160, 0.54);
  border: none;
  border-radius: 8px;
  font-family: "Righteous", sans-serif;
}

.form-floating label {
  font-size: 1rem; /* Ajusta el tamaño del texto */
  top: -10px; /* Ajusta la posición de la etiqueta flotante */
  left: 12px; /* Alinea el label a la izquierda */
  transition: 0.3s ease; /* Transición suave cuando el input está enfocado */
}

.card {
  height: 30em;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0;
  margin: 0;
}

.card:hover {
  transform: translateY(-8px);
}

.card-body {
  padding: 0;
  margin: 0;
}

.card-header {
  background-color: #565601;
}

.card-text {
  font-family: 'Poppins', sans-serif;
  color: #034f05;
  font-size: 1em;
}

.card-footer-btn {
  background-color: #FFCF50;
  font-size: 1.2em;
}
