<div class="container-fluid inicio-background flex ">
  <div class="row justify-content mt-5">
    <div class="col col-md-2 col-sm-12">
      <!-- Opciones del Perfil -->
      <div class="flex-column menuOpcionesCuenta">
        <button
          type="button"
          class="btn btn-outline-secondary d-flex align-items-center gap-1 w-100"
          data-bs-toggle="modal"
          data-bs-target="#actualizarDatosModal">
          <fa-icon [icon]="faUser"></fa-icon>
          <span>Cuenta</span>
        </button>
        <!-- Botón Eliminar cuenta -->
        <button
          type="button"
          class="btn btn-outline-secondary d-flex align-items-center gap-1 mt-1 w-100"
          data-bs-toggle="modal"
          data-bs-target="#eliminarCuentaModal"
        >
          <fa-icon [icon]="faTrashAlt"></fa-icon>
          <span>Borrar cuenta</span>
        </button>
        <div class="text-center mt-2">
          <a [routerLink]="['/planta/nueva/'+id_usuario]" class="btn botonCSS btn-sm">¿Nueva planta?</a>
        </div>
      </div>
    </div>

    @defer (when plantas) {
      @if (plantas.length === 0) {
        <div class="col col-md-9 col-sm-6 justify-content-center align-items-center flex-column formularioCSS_clase">
          <p class="textContenedor">Aún no has agregado tus plantas. No lo dejes para más tarde y ponte a ello.</p>
          <div class="text-center mt-2">
            <img
              [src]="'/images/plantaLogoApp.png'"
              [alt]="'Icono principal'"
              class="card-img-bottom w-25">
          </div>
          <div class="text-center mt-2">
            <a [routerLink]="['/planta/nueva/'+id_usuario]" class="btn botonCSS btn-sm">¿Nueva planta?</a>
          </div>
        </div>
      } @else {
        <div class="col col-md-9 col-sm-6 justify-content-center align-items-center">
          <div class="row">
            @for (planta of plantas; track $index) {
              <div class="col col-md-3 mb-4" style="width: 15em">
                <div class="card shadow-lg border-0 rounded-4" style="height: 15em"
                     [routerLink]="['/planta/editar', planta.id, id_usuario]">
                  <!-- Header con nombre -->
                  <div class="card-header text-center text-white rounded-top-4">
                    <h5 class="card-title m-0 fw-bold">{{ planta.nombre }}</h5>
                  </div>
                  <!-- Imagen -->
                  <div class="text-center mt-3">
                    @if (planta.rutaImagen == null) {
                      <img
                        [src]="'/images/img_default.png'"
                        [alt]="'Imagen de ' + planta.nombre"
                        class="rounded-circle shadow-sm imagen_card"
                        style="width: 120px; height: 120px; object-fit: cover;">
                    } @else {
                      <img
                        [src]="'http://localhost' + planta.rutaImagen"
                        class="rounded-circle shadow-sm imagen_card"
                        style="width: 120px; height: 120px; object-fit: cover;">
                    }
                  </div>

                  <!-- Cuerpo con info -->
                  <div class="card-body mt-1">
                    <!--                    <p class="card-text mb-1"><strong>🌿 Tipo:</strong> {{ planta.tipoPlanta | slice:0:10 }} ...</p>-->
                    <!--                    <p class="card-text mb-1"><strong>📍 Ubicación:</strong> {{ planta.ubicacion | slice:0:20 }} ...</p>-->
                    <!--                    <p class="card-text mb-1"><strong>🗓️ Adquirida:</strong> {{ planta.fechaAdquisicion.day }}/{{ planta.fechaAdquisicion.month }}/{{ planta.fechaAdquisicion.year }}</p>-->
                    <!--                    <p class="card-text mb-1"><strong>💧 Último riego:</strong> {{ planta.fechaUltimoRiego.day }}/{{ planta.fechaUltimoRiego.month }}/{{ planta.fechaUltimoRiego.year }}</p>-->
                    <!--                    <p class="card-text mb-1"><strong>✂️ Última poda:</strong> {{ planta.fechaPoda.day }}/{{ planta.fechaPoda.month }}/{{ planta.fechaPoda.year }}</p>-->
                    <!--                    <p class="card-text mb-1"><strong>🚿 Próximo riego:</strong> {{ planta.fechaProximoRiego.day }}/{{ planta.fechaProximoRiego.month }}/{{ planta.fechaProximoRiego.year }}</p>-->
                    <!-- Notas con truncado y tooltip -->
                    <!--                    <p class="card-text text-dark fst-italic mb-1" [title]="planta.notas">-->
                    <!--                      <strong>📝 Notas:</strong> {{ planta.notas | slice:0:10 }} ...-->
                    <!--                    </p>-->
                    <!--                    <p class="card-text"><strong>Recordatorios:</strong></p>-->
                    <!-- Enseña el icono dependiendo de los días restantes -->
                    <!-- Mensaje de Riego -->
                    <p class="card-text text-center mt-3">
                      <span *ngIf="calcularDiasRestantes(planta.fechaProximoRiego) <= 0">💧 ¡Es hora de regar!</span>
                      <span
                        *ngIf="calcularDiasRestantes(planta.fechaProximoRiego) > 0 && calcularDiasRestantes(planta.fechaProximoRiego) <= 3">⚠ ¡Falta poco para el riego!</span>
                    </p>
                    <!-- Mensaje de Poda (solo si no hay urgencia de riego) -->
                    <p class="card-text text-center"
                       *ngIf="calcularDiasRestantes(planta.fechaProximoRiego) > 3">
                      <span *ngIf="calcularDiasDesdeUltimaPoda(planta.fechaPoda) >= 30">✂️ ¡Ya pasó un mes!</span>
                      <span
                        *ngIf="calcularDiasDesdeUltimaPoda(planta.fechaPoda) >= 15 && calcularDiasDesdeUltimaPoda(planta.fechaPoda) < 30">🕒 Hace poco más de dos semanas</span>
                      <span *ngIf="calcularDiasDesdeUltimaPoda(planta.fechaPoda) < 15">✅ Poda reciente</span>
                    </p>
                  </div>
                </div>
              </div>
            }
          </div>
        </div>
      }
    } @placeholder () {
      <div class="d-flex justify-content-center mt-5"></div>
    }

    <!-- Modal -->
    <div class="modal fade" [attr.id]="'actualizarDatosModal'"
         tabindex="-1"
         aria-labelledby="actualizarDatosModalLabel"
         aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content modalEstilos shadow-lg border-0 rounded-4">
          <!-- Header -->
          <div class="modal-header bg-primary text-white rounded-top">
            <h1 class="modal-title fs-4 fw-bold" id="actualizarDatosModalLabel">
              ✏️ ¡Hora de actualizar tus datos!
            </h1>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Cerrar"></button>
          </div>
          <!-- Body -->
          <div class="modal-body px-5 py-4">
            <form [formGroup]="formUserEdit" (ngSubmit)="actualizarCuenta()">
              <!-- Nombre -->
              <div class="form-floating mb-4">
                <input type="text" formControlName="nombre" class="form-control" id="nombre" placeholder="Nombre">
                <label for="nombre">👤 Nombre</label>
                <!-- Validaciones -->
                @if (nombre.invalid && (nombre.dirty || nombre.touched)) {
                  @if (nombre.errors?.['required']) {
                    <div class="alert alert-danger mt-2">¡Debes indicar un nombre!</div>
                  }
                  @if (nombre.errors?.['maxlength']) {
                    <div class="alert alert-warning mt-2">¡No superes los 50 caracteres!</div>
                  }
                  @if (nombre.errors?.['minlength']) {
                    <div class="alert alert-warning mt-2">¡Escribe tu nombre completo!</div>
                  }
                  @if (nombre.errors?.['nombre']) {
                    <div class="alert alert-warning mt-2">¿Estás seguro? Eso no parece un nombre.</div>
                  }
                  @if (nombre.errors?.['notOnlyWhiteSpace']) {
                    <div class="alert alert-danger mt-2">¿Solo espacios? Dale, poné tu nombre 😅</div>
                  }
                }
              </div>

              <!-- Email -->
              <div class="form-floating mb-4">
                <input type="email" formControlName="email" class="form-control" id="email" placeholder="Email">
                <label for="email">📧 Email</label>
                @if (email.invalid && (email.dirty || email.touched)) {
                  @if (email.errors?.['required']) {
                    <div class="alert alert-danger mt-2">¡Debes indicar un email!</div>
                  }
                  @if (email.errors?.['maxlength']) {
                    <div class="alert alert-warning mt-2">¡No superes los 50 caracteres!</div>
                  }
                  @if (email.errors?.['minlength']) {
                    <div class="alert alert-warning mt-2">¡Escribe tu correo completo!</div>
                  }
                  @if (email.errors?.['email']) {
                    <div class="alert alert-warning mt-2">¿Estás seguro? Eso no parece un correo.</div>
                  }
                  @if (email.errors?.['notOnlyWhiteSpace']) {
                    <div class="alert alert-danger mt-2">¿Solo espacios? No parece válido.</div>
                  }
                }
              </div>
              <!-- Password -->
              <div class="form-floating mb-4">
                <input type="password" formControlName="password" class="form-control" id="password"
                       placeholder="Contraseña">
                <label for="password">🔒 Contraseña</label>
                @if (password.invalid && (password.dirty || password.touched)) {
                  @if (password.errors?.['required']) {
                    <div class="alert alert-danger mt-2">¡Debes indicar una contraseña!</div>
                  }
                  @if (password.errors?.['minlength']) {
                    <div class="alert alert-warning mt-2">¡Debe tener al menos 8 caracteres!</div>
                  }
                  @if (password.errors?.['maxlength']) {
                    <div class="alert alert-warning mt-2">¡No superes los 20 caracteres!</div>
                  }
                  @if (password.errors?.['notOnlyWhiteSpace']) {
                    <div class="alert alert-danger mt-2">¿Solo espacios? ¡Eso no sirve como contraseña!</div>
                  }
                }
              </div>
              <!-- Botón Guardar -->
              <div class="text-end">
                <button type="submit" class="btn btn-success px-4 but" data-bs-dismiss="modal">
                  💾 Guardar cambios
                </button>
              </div>
            </form>
          </div>
          <!-- Footer -->
          <div class="modal-footer bg-light rounded-bottom d-flex justify-content-between">
            <small class="text-muted">Puedes cerrar sin guardar si cambiaste de opinión 😌</small>
            <button type="button" class="btn btn-outline-secondary px-4" data-bs-dismiss="modal">
              Cancelar
            </button>
          </div>

        </div>
      </div>
    </div>
    <!--Finaliza Modal-->

    <!-- Modal -->
    <div class="modal fade" [attr.id]="'eliminarCuentaModal'"
         tabindex="-1"
         aria-labelledby="deleteModalLabel"
         aria-hidden="true">
      <div class="modal-dialog ">
        <div class="modal-content modalEstilos shadow-lg border-0 rounded-4">
          <div class="modal-header bg-danger bg-gradient text-white rounded-top">
            <h1 class="modal-title fs-4 fw-bold">
              ⚠️ ¡Cuidado! Esta acción eliminará tu cuenta permanentemente
            </h1>
          </div>
          <div class="modal-body text-center">
            <p class="fs-5 text-dark-emphasis">
              ¿Estás seguro? <br>
              ¿Quién cuidará de tus plantas?
            </p>
            <h6 class="text-danger fw-semibold mt-3">
              Si deseas continuar, haz click en <span class="text-decoration-underline">Aceptar</span>.
            </h6>
          </div>
          <div class="modal-footer d-flex justify-content-between bg-light rounded-bottom">
            <button type="button" class="btn btn-outline-secondary px-4" data-bs-dismiss="modal">
              ❌ Cancelar
            </button>
            <button type="button" class="btn btn-danger px-4" data-bs-dismiss="modal"
                    (click)="eliminarUsuario(usuario.id)">
              🗑️ Aceptar
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--Finaliza Modal-->
  </div>
</div>
